<%= form_for @post do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Error", sticky: false, image: :error) %>
    <% end %>
  <% end %>

  <form role="form">
    <div class="form-group">
      <%= f.label(:overtime_request, "Overtime in hours (Steps of 0.5)") %>
      <%= f.number_field(:overtime_request, class: "form-control", step: 0.5) %>
    </div>
    <div class="form-group">
      <%= f.label(:date, "Date") %>
      <%= f.date_field(:date, class: "form-control") %>
    </div>
    <div class="form-group">
      <%= f.label(:rationale, "Rationale") %>
      <%= f.text_area(:rationale, size: "60x12", class: "form-control") %>
    </div>
    <% if current_user.is_admin? %>
      <div class="form-group">
        <%= f.radio_button(:status, "submitted") %>
        <%= f.label(:status, "Submitted") %>

        <%= f.radio_button(:status, "approved") %>
        <%= f.label(:status, "Approved") %>

        <%= f.radio_button(:status, "rejected") %>
        <%= f.label(:status, "Rejected") %>
      </div>
    <% end %>
      <%= f.submit(class: "btn btn-primary btn-block save-post-button", id: "save-post-button") %>
  </form>
<% end %>
